.container {
  min-height: 100vh;
  background-position: center center ;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.container__title {
  text-shadow: 0.15em 0.15em #8599;
  font-size: 2rem;
}



.container__phrase {
  width: 100%;
  max-width: 30em;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 3em 3.5em;
  line-height: 1.4;
  border-radius: 0.7em;
    --mask: radial-gradient(20px at bottom,#0000 97%,#000) 90% / 70.50px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);

}

.container__btn {
  padding: 0.8em 1.2em;
  border-radius: 0.7em;
  font-size: 1.2rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 200ms ease;
}

.container__btn:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 0.8em #0005;
}
